<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">DASHBOARD{{usId}}</h1>
              <p class="lead">This is a DASHBOARD</p>
              <p class="lead">otp is {{otp}} and timestamp is {{tm}}</p>
              <a [routerLink]="['profile']">profile</a>
              <br>
              <a [routerLink]="['friends']">friends</a>
            </div>
          </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet>

    </router-outlet>
  </div>
</div>