<div class="row">
    <div class="col-md-12">
        <input type="text" #mob placeholder="mobile number">
        <input type="text" #otp placeholder="OTP">
    
    </div>
</div>
<div class="row"> 
    <div class="col-md-12">
        <input type="button" value="okay" class="btn btn-info" (click)="onotp(mob.value,otp.value)">
    </div>
</div>
<div class="row">
<div class="col-md-12">
    
    <a [routerLink]="['addmobile','87645445']"[queryParams]="{tm:'544654656',user:'kiran'}">Add other mobile</a>
</div>

</div>